
<ion-content class="theme_secondary">
  <div class="bmd_login_wrapper heightFull widthFull">

    <!-- LOGO-DIV -->

    <div class="bmd_logo_div">
      <img src="assets/img/logo.png">
    </div>

    <!-- ENDS-LOGO-DIV -->

    <!-- LOGIN-FORM-DIV -->

    <div class="bmd_login_form">
      <div class="bmd_login_form_row">
        <ion-icon name="person"></ion-icon>
        <input class="bmd_login_input" placeholder="Username">
      </div>
      <div class="bmd_login_form_row">
        <ion-icon name="lock"></ion-icon>
        <input class="bmd_login_input" placeholder="Password">
      </div>
      <div class="bmd_login_form_row textCenter">
        <button ion-button class="bmd_login_btn text_color_primary" (click)="open_page('HomePage')">Login</button>
      </div>
      <div class="bmd_login_form_row textCenter" (click)="open_page('ForgotPage')">
        <p>Forgot Password ?</p>
      </div>

      <!-- SOCIAL-BTN-BAY -->

      <div class="bmd_social_bay">
        <li><ion-icon name="logo-facebook"></ion-icon></li>
        <li><ion-icon name="logo-googleplus"></ion-icon></li>
      </div>

      <!-- END-SOCIAL-BTN-BAY -->

    </div>

    <!-- END-LOGIN-FORM-DIV -->

    <div class="bmd_social_signup textCenter" (click)="open_page('SignupPage')">
      <p>Dont have an Account ? <strong>Sign Up</strong></p>
    </div>

  </div>
</ion-content>
