
<ion-header class="theme_primary">
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="dismiss()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">
      Select a Speciality
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_sidemenu">
  <div class="bmd_speciality_list">
    <ul>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
      <li>Cardiology</li>
    </ul>
  </div>
</ion-content>
