<ion-header class="theme_primary">
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">
      Appointment
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_sidemenu">
  <div class="bmd_review_wrapper heightFull">
    <div class="bmd_review_banner">
      <div class="bmd_review_circle floatLeft theme_primary">
      </div>
      <div class="bmd_search_detail bmd_review_detail">
        <h5>Dr Cornar Kelvinki</h5>
        <p>MBBS-MD,FRCS London</p>
        <div class="bmd_stars">
            <form>
              <span class="rating">
              <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
              <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
              <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
              <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
              <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
              </span>
            </form>
          </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="bmd_doc_book theme_secondary">
      <p><ion-icon name="call"></ion-icon>+51 36989598</p>
      <p><ion-icon name="locate"></ion-icon>Independence Avenue SW 6th Street Washington DC</p>
      <div class="bmd_login_form_row textCenter">
        <button ion-button class="bmd_login_btn text_color_primary" (click)="open_page('ReviewPage')">Review this Doctor</button>
      </div>
      <div class="bmd_login_form_row textCenter">
        <button ion-button class="bmd_login_btn text_color_primary" (click)="open_page('HomePage')">Book Again</button>
      </div>
    </div>

  </div>
</ion-content>
