
<ion-header class="theme_primary">
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft" menuToggle><ion-icon name="menu"></ion-icon></button>
    <div class="nav_header_title floatLeft">
      Home
    </div>
    <button ion-button class="nav_btn floatRight" (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
    <div class="clear"></div>
  </div>
  <div class="widthFull">
    <ion-searchbar
  [(ngModel)]="myInput" class="bmd_search_box" (click)="open_page('SearchresultPage')">
    </ion-searchbar>
  </div>
</ion-header>
<ion-content class="theme_secondary">
  <div class="bmd_home_wrapper heightFull">
    <!-- <div class="bmd_home_top_banner">
      <img src="assets/img/doc.png">
    </div> -->
    <ul class="text_color_white heightFull">
      <li (click)="specialitymodal()">
        <ion-grid class="heightFull">
          <ion-row class="heightFull">
            <ion-col col-2>
              <ion-icon name="ios-people-outline"></ion-icon>
            </ion-col>
            <ion-col col-9>
              <h5>Speciality</h5>
              <p>Cardiology</p>
            </ion-col>
            <ion-col col-1 class="textRight">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <li>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="ios-compass-outline"></ion-icon>
            </ion-col>
            <ion-col col-9>
              <h5>Location</h5>
              <p>Las Veturas</p>
            </ion-col>
            <ion-col col-1 class="textRight">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <li>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="ios-calendar-outline"></ion-icon>
            </ion-col>
            <ion-col col-9>
              <h5>Date</h5>
              <p>
                <ion-item class="bmd_select_date">
                  <ion-datetime   placeholder="Select Date"  min="2017-11-01" max="2030-10-31" displayFormat="MMM DD YYYY"></ion-datetime>
                </ion-item>
              </p>
            </ion-col>
            <ion-col col-1 class="textRight">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
      <li>
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-icon name="ios-clipboard-outline"></ion-icon>
            </ion-col>
            <ion-col col-9>
              <h5>Insurance</h5>
              <p>I will select later</p>
            </ion-col>
            <ion-col col-1 class="textRight">
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </li>
    </ul>
  </div>
</ion-content>
