
/*
	Site Name: Book My Doc Version 2
	URI:
	Description: This is the custom css for Book my Doc
	Version: 2.0
	Author: Amal-Techware Solution
	Author URI:
	Tags:

	---------------------------
	CUSTOM STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	  01. LOGIN-SIGNUP-PAGE-STYLE
    02. HOME-PAGE-STYLE
    03. SIDEMENU-PAGE-STYLE
    04. BMD-POP-OVER-PAGE-STYLE
    05. SELECT-SPECIALITY-PAGE-STYLE
    06. SEARCH-RESULT-PAGE-STYLE
    07. SEARCH-MAIN-PAGE-STYLE
    08. BOOK-APPOINTMENT-PAGE-STYLE
    09. REVIEW-PAGE-STYLE

*/

/*-------------------------------

 01. LOGIN-SIGNUP-PAGE-STYLE

--------------------------------*/

.bmd_login_wrapper{padding: 10px;}
.bmd_logo_div{text-align: center;padding-top:30%;padding-bottom: 10%;}
.bmd_logo_div img{width:150px;}
.bmd_login_item{background: transparent;padding-left: 0px;}
.bmd_login_form{padding: 15px;padding-bottom: 0px;}
.bmd_login_form_row{width:100%;padding-bottom:20px;position: relative;}
.bmd_login_input{width:100%;border:none;height:45px;border-bottom:1px solid #fff;background: transparent;color: #fff;font-size: 16px;font-weight: 300;font-style: italic;padding-left:35px;}
.bmd_login_input::-webkit-input-placeholder {color:#fff;}
.bmd_login_input::-moz-placeholder {color:#fff;}
.bmd_login_input:-ms-input-placeholder {color:#fff;}
.bmd_login_input:-moz-placeholder {color:#fff;}
.bmd_login_form_row ion-icon{color: #fff;position: absolute;top: 10px;left: 8px;font-size: 18px;}
.bmd_login_btn{width:100%;height:45px;border-radius:2px;background: #fff;text-align:center;font-size: 16px;letter-spacing: 4px;}
.bmd_login_form_row p{color: #fff;color: #fff;font-size: 16px;font-weight: 300;}
.bmd_login_by{color: #fff;font-style: italic;font-size: 12px;font-weight: 300;width:100px;margin: 0 auto;position: relative;bottom: 15px;}
.bmd_login_form_row hr{border:1px solid #fff;height:0px;width:100%;border-top:none;}
.bmd_social_bay{width: 100%;text-align: center;}
.bmd_social_bay li{display: inline-block;list-style: none;width:50px;height:30px;text-align: center;color: #fff;}
.bmd_social_bay li ion-icon{font-size: 28px;}
.bmd_social_signup{width: 100%;color: #fff;}
.bmd_social_signup p{font-size: 18px;font-weight:300;margin: 0px;padding-top: 20px;}
.bmd_social_signup p strong{font-weight: 400;font-style: italic;}
.bmd_tc{background:transparent;}
.bmd_tc .item-inner{border:none !important;color: #fff !important;font-weight:300 !important;font-size: 18px;font-style: italic;}
.bmd_tc ion-checkbox{margin:0px !important;margin-right: 20px !important;}
.bmd_tc .checkbox-icon{border:1px solid #fff !important;background: transparent !important;width:20px;height:20px;}
.bmd_tc .checkbox-inner{top:3px !important;left:6px !important;}

/*-------------------------------

 02. HOME-PAGE-STYLE

--------------------------------*/

.bmd_search_box{width:100%;}
.bmd_search_box .searchbar-input{}
.bmd_home_wrapper{width:100%;}
.bmd_sidemenu_wrapper{width: 100%;}
.bmd_home_top_banner{text-align: center;}
.bmd_home_top_banner img{width:160px;}
.bmd_home_wrapper ul{padding:0px;margin:0px;}
.bmd_home_wrapper ul li{list-style: none;border-bottom: 1px solid #fff;padding:10px; }
.bmd_home_wrapper ul li h5{margin:0px;font-weight:500;font-size:14px;letter-spacing: 3px;}
.bmd_home_wrapper ul li p{margin:0px;padding: 0px;font-size: 20px;font-weight: 300;padding-top: 5px;}
.bmd_home_wrapper ul li ion-icon{font-size: 40px;}
.bmd_select_date{background: transparent !important;padding-left: 0px;min-height: 10px !important;}
.bmd_select_date .datetime-placeholder{color:#fff !important;}
.bmd_select_date ion-datetime{margin:0px;padding: 0px;font-size: 20px;font-weight: 300;padding-top: 5px;color: #fff !important}
.bmd_select_date .item-inner{border:none !important;}


/*-------------------------------

 03. SIDEMENU-PAGE-STYLE

--------------------------------*/

.bmd_sidemenu_wrapper{padding: 10px;}
.bmd_sidemenu_top{padding:20px;padding-top: 50px;}
.bmd_sidemenu_top h5{font-weight:300;margin:0px;font-size: 20px;}
.bmd_sidemenu_top h6{font-weight:400;margin: 0px;padding-top: 15px;padding-bottom:5px;font-size: 18px;}
.bms_sidemenu_list{}
.bms_sidemenu_list ul{padding: 0px;padding-left: 20px;}
.bms_sidemenu_list ul li{list-style: none;font-size: 18px;font-weight: 300;padding-top: 15px;padding-bottom: 15px;}
.bmd_sidemnu_top_circle{width:100px;height:100px;border-radius:50%;background:url("../assets/img/profile_avatar.png");background-position:center;background-repeat: no-repeat;background-size: 30px;}
.bms_sidemenu_list ul li ion-icon{margin-right:10px;}

/*-------------------------------

 04. BMD-POP-OVER-PAGE-STYLE

--------------------------------*/

.bmd_popover_wrapper{width: 100%;}
.bmd_popover_wrapper ul{padding:0px;margin:0px;}
.bmd_popover_wrapper ul li{list-style: none;padding:15px;font-size: 15px;}

/*-------------------------------

 05. SELECT-SPECIALITY-PAGE-STYLE

--------------------------------*/

.bmd_speciality_list{width:100%;}
.bmd_speciality_list ul{margin:0px;padding: 0px;}
.bmd_speciality_list ul li{list-style: none;padding:15px;color: #525252;font-size: 18px;border-bottom: 1px solid #aaaaaa;}
.bmd_speciality_list ul li:hover{background: #c81e51;color: #fff;}
.bmd_speciality_list ul li:focus{background: #c81e51;color: #fff;}

/*-------------------------------

 06. SEARCH-RESULT-PAGE-STYLE

--------------------------------*/

.bmd_search_result_wrapper{width: 100%;}
.bmd_search_result_wrapper ul{width:100%;padding:0px;margin:0px;}
.bmd_search_result_wrapper ul li{width:100%;padding: 2px;margin-bottom: 5px;}
.bmd_search_photo{width:100px;height:90px;float: left;}
.bmd_search_photo img{width:100%;height:100%;object-fit: cover;object-position: center;}
.bmd_search_detail{width:calc(100% - 100px);float: left;padding-left: 10px;}
.bmd_search_detail h5{margin:0px;padding:0px;color: #fff;font-weight: 300;font-size: 20px;}
.bmd_search_detail p{margin:0px;padding:0px;color: #fff;font-size: 10px;padding-top: 5px;letter-spacing: 2px;}
.bmd_search_detail h6{margin:0px;padding:0px;color: #fff;font-size: 13px;font-weight: 300}
.bmd_stars {width:80px;display: inline-block;margin:0 auto;}
.bmd_stars input.star { display: none; }
.bmd_stars label.star {float: right;padding:1px;font-size:15px;color: #fff;transition: all .2s;}
.bmd_stars input.star:checked ~ label.star:before {content: '★';color: #FD4;transition: all .25s;}
.bmd_stars input.star-5:checked ~ label.star:before {color: #FE7;text-shadow: 0 0 20px #952;}
.bmd_stars input.star-1:checked ~ label.star:before { color: #F62; }
.bmd_stars label.star:hover { transform: rotate(-15deg) scale(1.3); }
.bmd_stars label.star:before {content: '★';font-family: FontAwesome;}
.bmd_distance{width:100%;padding-top:10px;padding-bottom:10px;}
.bmd_distance h4{margin:0px;color: #fff;font-weight: 300;font-size:16px;letter-spacing: 2px;}
.bmd_appointment_listing{width:100%;padding-top: 5px;padding-bottom: 5px;}
.bmd_appointment_listing li{display: inline-block;list-style: none;width:24% !important;font-weight:300;text-align: center;font-size: 12px;border-radius:4px;color:#fff;padding:5px !important;border: 1px solid #fff;}
.bmd_appointment_listing li:hover{color: #fff;background: #c81e51;}
.bmd_appointment_listing li:focus{color: #fff;background: #c81e51;}

/*-------------------------------

 07. SEARCH-MAIN-PAGE-STYLE

--------------------------------*/

.bmd_search_main_wrapper{width:100%;height:100%;}
.bmd_search_main_top_banner{}
.bmd_list_time{width:100%;height: calc(100% - 155px);overflow: scroll;}
.bmd_list_time ul{padding: 0px;margin:0px;}
.bmd_list_time ul li{float: left;width:20%;text-align: center;list-style: none;background: #ababab;color: #fff;height:50px;font-size: 10px;padding-top: 15px;padding-bottom: 15px;border: 1px solid #fff;}
.bmd_booked{background-color: #ea6a91 !important;}
.bmd_list_time ul li:hover{background: #ca1f53;}
.bmd_list_time ul li:focus{background: #ca1f53;}

/*-------------------------------

 08. BOOK-APPOINTMENT-PAGE-STYLE

--------------------------------*/

.bmd_book_wrapper{width:100%;height:100%;}
.bm_book_tab_bay{width:100%;height: 50px;}
.bm_book_tab_bay ul{width:100%;padding: 0px;margin:0px;}
.bm_book_tab_bay ul li{width:100%;list-style: none;text-align: center;font-size:13px;border-radius: 0px;text-transform: capitalize;padding: 15px;color: #525252;margin:0px;font-weight: 400;letter-spacing: 1px;padding-left: 0px;padding-right: 0px;}
.bm_book_tab_bay ul .active{background: #ca1f53;color: #fff;}
.bmd_book_content{width:100%;height: calc(100% - 50px);}
.bmd_slider_inside{width:100%;}
.bmd_slider_inside h6{text-align: left;margin:0px;padding:20px;font-size:16px;font-weight:500;color: #fff;padding-left: 0px;padding-top: 0px;padding-bottom: 10px;}
.bmd_slider_inside p{color: #fff;font-weight:200;text-align: left;padding-left:0px;font-size:25px;margin-bottom: 15px;margin-top:10px; }
.bmd_slider_inside .item {background: transparent;}
.bmd_slider_inside .item .item-inner{border:none;}
.bmd_slider_inside .item .item-inner .label{color: #fff;font-size:14px;font-weight: 300;font-style: italic;margin:0px;}
.bmd_slider_inside .item .item-inner .radio-icon{border:2px solid #fff;width:20px;height:20px;}
.bmd_slider_inside .item .item-inner .radio-inner{width:12px !important;height:12px !important;background: #fff !important;}

/*-------------------------------

 09. REVIEW-PAGE-STYLE

--------------------------------*/

.bmd_review_wrapper{width:100%;}
.bmd_review_banner{width:100%;height:160px;background:url("../assets/img/review_banner.png");background-position: center;background-size: cover;padding: 10px;padding-top:20px;}
.bmd_review_circle{width:100px;height:100px;border-radius:50%;border:2px solid #fff;background:url("../assets/img/profile_avatar.png");background-repeat: no-repeat;background-position: center;background-size: 30px;}
.bmd_review_circle img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.bmd_review_detail{padding-top:20px;padding-left: 20px;}
.bmd_review_list{width:100%;padding: 10px;}
.bmd_review_wrapper h6{margin:0px;color: #c81e51;font-size: 24px;font-weight: 300;padding: 10px;}
.bmd_review_list{width:100%;height:calc(100% - 210px;);overflow: scroll;}
.bmd_review_list ul{margin:0px;padding:0px;}
.bmd_review_list ul li{list-style: none;border-bottom:1px solid #c7c7c7;padding-bottom: 20px;margin-bottom: 20px;}
.bmd_review_profile_pic{width:45px;height:45px;border:1px solid #a8a8a8;border-radius:50%;background: #a8a8a8;float: left;}
.bmd_review_profile_pic img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.bmd_review_profile_detail{float: left;width:calc(100% - 45px);padding-left: 15px;}
.bmd_review_profile_detail h5{margin:0px;padding:0px;color: #343434;font-weight: 400;}
.bmd_review_profile_detail p{margin:0px;padding:0px;padding-top: 5px;color: #525252;font-size: 12px;}
.bmd_doc_book{width:100%;height:calc(100% - 160px);padding: 20px;}
.bmd_doc_book p{color: #fff;margin:0px;font-size: 20px;font-weight: 300;padding-bottom: 10px;}
.bmd_doc_book p ion-icon{margin-right:25px;}
