<ion-menu [content]="content">

  <ion-content class="theme_sidemenu">
    <div class="bmd_sidemenu_wrapper">

      <!-- SIDEMENU-HEAD -->

      <div class="bmd_sidemenu_top">
        <div class="bmd_sidemnu_top_circle theme_primary">
        </div>
        <h6 class="text_color_primary">Ann Alexander</h6>
        <h5 class="text_color_primary">+91 9961531199</h5>
      </div>

      <!--ENDS-SIDEMENU-HEAD -->

      <!-- SIDEMENU-LIST -->

      <div class="bms_sidemenu_list">
        <ul class="text_color_primary">
          <li><ion-icon name="home" (click)="open_page('HomePage')"></ion-icon>Home</li>
          <li><ion-icon name="settings"></ion-icon>Settings</li>
          <li><ion-icon name="log-in" (click)="open_page('LoginPage')"></ion-icon>Log In</li>
          <li><ion-icon name="person-add" (click)="open_page('SignupPage')"></ion-icon>Join</li>
          <li><ion-icon name="log-out" (click)="open_page('LoginPage')"></ion-icon>Log Out</li>
        </ul>
      </div>

      <!-- ENDS-SIDEMENU-LIST -->

    </div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
