
<ion-content class="theme_secondary">
  <div class="bmd_login_wrapper heightFull widthFull">

    <!-- LOGO-DIV -->

    <div class="bmd_logo_div">
      <img src="assets/img/logo.png">
    </div>

    <!-- ENDS-LOGO-DIV -->

    <!-- LOGIN-FORM-DIV -->

    <div class="bmd_login_form">
      <div class="bmd_login_form_row">
        <ion-icon name="mail"></ion-icon>
        <input class="bmd_login_input" placeholder="Email">
      </div>
      <div class="bmd_login_form_row textCenter">
        <button ion-button class="bmd_login_btn text_color_primary">Proceed</button>
      </div>
    </div>

    <!-- ENDS-LOGIN-FORM-DIV -->

  </div>
</ion-content>
