
<ion-content class="widthFull heightFull theme_primary">
  <div class="bmd_popover_wrapper theme_primary text_color_white widthFull heightFull">
    <ul>
      <li (click)="close()">Share</li>
      <li (click)="close()">Rate us</li>
      <li (click)="close()">About us</li>
      <li (click)="close()">Are you a Doctor</li>
    </ul>
  </div>
</ion-content>
