<ion-header class="theme_primary">
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">
      Search Results
    </div>
    <div class="clear"></div>
  </div>
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft"><ion-icon name="md-arrow-back"></ion-icon></button>
    <div class="nav_header_title floatLeft textCenter">
      MON, JUNE 22
    </div>
      <button ion-button class="nav_btn floatRight"><ion-icon name="md-arrow-forward"></ion-icon></button>
      <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_sidemenu">
  <div class="bmd_search_result_wrapper">
    <ul>
      <li class="theme_primary" (click)="open_page('SearchmainPage')">
        <div class="bmd_search_photo">
          <img src="assets/img/e_pic2.jpg">
        </div>
        <div class="bmd_search_detail">
          <h5>Dr Cornar Kelvinki</h5>
          <p>MBBS-MD,FRCS London</p>
          <div class="bmd_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div>
          <h6>Independence, Avenue WDC</h6>
        </div>
        <div class="clear"></div>
        <div class="bmd_distance">
          <h4 class="floatLeft">Distance</h4><h4 class="floatRight">2.5Km</h4>
          <div class="clear"></div>
        </div>
        <div class="bmd_appointment_listing">
          <li>08:00 AM</li>
          <li>10:00 AM</li>
          <li>02:00 AM</li>
          <li>04:00 AM</li>
        </div>
      </li>
      <li class="theme_primary" (click)="open_page('SearchmainPage')">
        <div class="bmd_search_photo">
          <img src="assets/img/e_pic2.jpg">
        </div>
        <div class="bmd_search_detail">
          <h5>Dr Cornar Kelvinki</h5>
          <p>MBBS-MD,FRCS London</p>
          <div class="bmd_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div>
          <h6>Independence, Avenue WDC</h6>
        </div>
        <div class="clear"></div>
        <div class="bmd_distance">
          <h4 class="floatLeft">Distance</h4><h4 class="floatRight">2.5Km</h4>
          <div class="clear"></div>
        </div>
        <div class="bmd_appointment_listing">
          <li>08:00 AM</li>
          <li>10:00 AM</li>
          <li>02:00 AM</li>
          <li>04:00 AM</li>
        </div>
      </li>
      <li class="theme_primary" (click)="open_page('SearchmainPage')">
        <div class="bmd_search_photo">
          <img src="assets/img/e_pic2.jpg">
        </div>
        <div class="bmd_search_detail">
          <h5>Dr Cornar Kelvinki</h5>
          <p>MBBS-MD,FRCS London</p>
          <div class="bmd_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div>
          <h6>Independence, Avenue WDC</h6>
        </div>
        <div class="clear"></div>
        <div class="bmd_distance">
          <h4 class="floatLeft">Distance</h4><h4 class="floatRight">2.5Km</h4>
          <div class="clear"></div>
        </div>
        <div class="bmd_appointment_listing">
          <li>08:00 AM</li>
          <li>10:00 AM</li>
          <li>02:00 AM</li>
          <li>04:00 AM</li>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
