<ion-header class="theme_primary">
  <div class="nav_header">
    <button ion-button class="nav_btn floatLeft" (click)="goBack()"><ion-icon name="ios-arrow-back-outline"></ion-icon></button>
    <div class="nav_header_title floatLeft">
      Appointment
    </div>
    <div class="clear"></div>
  </div>
</ion-header>
<ion-content class="theme_sidemenu">
  <div class="bmd_book_wrapper">
    <div class="bm_book_tab_bay">
      <ul class="heightFull">
        <ion-grid class="p0 heightFull">
          <ion-row class="heightFull">
            <ion-col class="p0 heightFull">
                <li ion-button class="heightFull" [ngClass]="{'active' : slidertab == 0}" (click)="goToSlide(0)">Paitent</li>
            </ion-col>
            <ion-col class="p0 heightFull">
              <li ion-button class="heightFull" [ngClass]="{'active' : slidertab == 1}" (click)="goToSlide(1)">Appointment</li>
            </ion-col>
            <ion-col class="p0 heightFull">
              <li ion-button class="heightFull" [ngClass]="{'active' : slidertab == 2}" (click)="goToSlide(2)">Finished</li>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ul>
    </div>
    <div class="bmd_book_content">
      <ion-slides pager="false" #mySlider class="hm_service_slide"  (ionSlideDidChange)="slideChanged()">
        <ion-slide class="theme_secondary">
         <div class="bmd_slider_inside">
           <div class="bmd_login_form">
           <p>Paitent Information</p>
           <h6>Have you used Book My Doc before?</h6>
           <ion-item>
              <ion-label>I am new to Book My Doc</ion-label>
              <ion-radio value="1" ></ion-radio>
            </ion-item>
            <ion-item>
               <ion-label>I have used Book My Doc before</ion-label>
               <ion-radio value="2" ></ion-radio>
             </ion-item>
             <hr>
             <h6>Create an Account </h6>
               <div class="bmd_login_form_row">
                 <ion-icon name="person"></ion-icon>
                 <input class="bmd_login_input" placeholder="First name">
               </div>
               <div class="bmd_login_form_row">
                 <ion-icon name="person"></ion-icon>
                 <input class="bmd_login_input" placeholder="Last name">
               </div>
               <div class="bmd_login_form_row">
                 <ion-icon name="mail"></ion-icon>
                 <input class="bmd_login_input" placeholder="Email">
               </div>
               <div class="bmd_login_form_row">
                 <ion-icon name="lock"></ion-icon>
                 <input class="bmd_login_input" placeholder="Password">
               </div>
               <div class="bmd_login_form_row">
                 <ion-icon name="lock"></ion-icon>
                 <input class="bmd_login_input" placeholder="Confirm Password">
               </div>
               <div class="bmd_login_form_row textCenter">
                 <button ion-button class="bmd_login_btn text_color_primary">Continue</button>
               </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide class="theme_secondary">
          <div class="bmd_search_result_wrapper">
            <ul>
              <br>
              <li class="theme_primary">
                <div class="bmd_search_photo">
                  <img src="assets/img/e_pic2.jpg">
                </div>
                <div class="bmd_search_detail textLeft">
                  <h5>Dr Cornar Kelvinki</h5>
                  <p>MBBS-MD,FRCS London</p>
                  <div class="bmd_stars">
                      <form>
                        <span class="rating">
                        <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                        <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                        <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                        <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                        <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                        </span>
                      </form>
                    </div>
                  <h6>Independence, Avenue WDC</h6>
                </div>
                <div class="clear"></div>
              </li>
            </ul>
          </div>
          <div class="bmd_slider_inside">
             <div class="bmd_login_form">
               <h6>Will you use Insurance</h6>
               <div class="bmd_login_form_row">
                 <select class="bmd_login_input p0">
                   <option>Select</option>
                 </select>
               </div>
               <h6>What is the reason for your visit?</h6>
               <div class="bmd_login_form_row">
                 <select class="bmd_login_input p0">
                   <option>Select</option>
                 </select>
                </div>
                <h6>Have you visited this doctor<br> before ?</h6>
                <ion-item>
                   <ion-label>I am a new paitent</ion-label>
                   <ion-radio value="1" ></ion-radio>
                 </ion-item>
                 <ion-item>
                    <ion-label>I have seen this doctor before</ion-label>
                    <ion-radio value="2" ></ion-radio>
                </ion-item>
                <div class="bmd_login_form_row textCenter">
                  <button ion-button class="bmd_login_btn text_color_primary">Continue</button>
                </div>
             </div>
          </div>
        </ion-slide>
        <ion-slide class="theme_secondary">
          <div class="bmd_slider_inside">
            <div class="bmd_login_form">
            <p>Booking Completed</p>
            <h6>Your booking has been confirmed<br>
            Thank you</h6>
            <br>
            <br>
            <br>

              <div class="bmd_login_form_row textCenter">
                <button ion-button class="bmd_login_btn text_color_primary">My Booking</button>
              </div>
              <div class="bmd_login_form_row textCenter">
                <button ion-button class="bmd_login_btn text_color_primary">Home</button>
              </div>
            </div>
          </div>
        </ion-slide>
       </ion-slides>
    </div>
  </div>
</ion-content>
