
<ion-content class="theme_secondary">
  <div class="bmd_login_wrapper heightFull widthFull">

    <!-- LOGO-DIV -->

    <div class="bmd_logo_div" style="padding-top:5%;">
      <img src="assets/img/logo.png">
    </div>

    <!-- ENDS-LOGO-DIV -->

    <!-- LOGIN-FORM-DIV -->

    <div class="bmd_login_form">
      <div class="bmd_login_form_row">
        <ion-icon name="person"></ion-icon>
        <input class="bmd_login_input" placeholder="First name">
      </div>
      <div class="bmd_login_form_row">
        <ion-icon name="person"></ion-icon>
        <input class="bmd_login_input" placeholder="Last name">
      </div>
      <div class="bmd_login_form_row">
        <ion-icon name="mail"></ion-icon>
        <input class="bmd_login_input" placeholder="Email">
      </div>
      <div class="bmd_login_form_row">
        <ion-icon name="lock"></ion-icon>
        <input class="bmd_login_input" placeholder="Password">
      </div>
      <div class="bmd_login_form_row">
        <ion-icon name="call"></ion-icon>
        <input class="bmd_login_input" placeholder="Phone number">
      </div>
      <div class="bmd_login_form_row textCenter">
        <button ion-button class="bmd_login_btn text_color_primary">Join Now</button>
      </div>
      <div class="bmd_login_form_row textCenter">
        <ion-item class="bmd_tc">
          <ion-label>I agree with Terms & Condition</ion-label>
          <ion-checkbox color="dark" checked="true"></ion-checkbox>
        </ion-item>
      </div>
    </div>

  </div>
</ion-content>
